{% extends "email_base.html" %}

{% block email_title %}Documents non conformes 🟠{% endblock %}

{% block email_content %}
<p>Bonjour {{ prenom }},</p>

<p>Après vérification, un ou plusieurs de vos documents transmis ont été jugés <strong>non conformes</strong> par notre équipe.</p>

{% if pieces %}
<p>Voici la liste concernée :</p>
<ul>
  {% for p in pieces %}
    <li>{{ p }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if commentaire %}
<p><strong>Commentaire de l’administration :</strong><br>
<em>{{ commentaire }}</em></p>
{% endif %}

<p>Merci de remplacer les documents concernés en cliquant sur le bouton ci-dessous :</p>

<p style="text-align:center;margin:25px 0;">
  <a href="{{ link }}" target="_blank" class="btn">📎 Remplacer mes documents</a>
</p>

<p>⏳ Ce lien est valable <strong>7 jours</strong>.</p>

<p>Cordialement,<br>
<strong>L’équipe Intégrale Academy</strong></p>
{% endblock %}
